appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
autopep8==1.5
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
dnspython==1.16.0
entrypoints==0.3
flake8==3.7.9
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysql-connector-python==8.0.19
pathspec==0.7.0
pep8==1.7.1
protobuf==3.15.0
pycodestyle==2.5.0
pyflakes==2.1.1
pygame==1.9.6
pygubu==0.9.8.4
pylint==2.4.4
PyMySQL==0.9.3
PyQt5==5.14.1
PyQt5-sip==12.7.0
regex==2020.1.8
requests==2.22.0
rope==0.14.0
six==1.13.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.7
virtualenv==16.7.9
wrapt==1.11.2
